# Local Environment Variables & Secret Files (NEVER COMMIT TO GIT)
.env
.env.*
.dev.vars
*.secret

# Wrangler Local State
.wrangler/

# IDE & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
~$*
node_modules/

# Build Output
dist/
.vite/